$beige: #DDC3A5;
$black-brown: #201E20;
$tan: #E0A96D;

.bulletin-container{
    width: 100%;
    height: 100%;
    display: grid;
    left: 0;
    box-sizing: border-box;
    padding: 90px;

    background: $beige;
    border: 3px solid $black-brown;

    .bulletin-textarea {
        margin-top: 100px;
        border-radius: 8px;
        border: 2px solid $tan;
        resize: none;
    }

    .bulletin-info-container{
        width: 100%;
        height: 100px;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-around;


        .bulletin-edit{
            text-decoration: underline;
        }

        .bulletin-edit:hover{
            cursor: pointer;
            color: white;
        }
    }




}